body {
    margin-top: 20px;
    text-align: center;
    background-color: #FFE8F8 ;
}

button {
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
}

/* I am aware this is redundant but had issues selecting with querySelectorAll or other methods */
#questionButta {
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
}

#questionButtb {
    background-color: blueviolet ;
    color: white;
    border-radius: 3px;
}

#questionButtc {
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
}